<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SampleProject.Properties.Settings>
      <setting name="dummyUser" serializeAs="String">
        <value>dummy user value</value>
      </setting>
    </SampleProject.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SampleProject.Properties.Settings>
      <setting name="dummyApplication" serializeAs="String">
        <value>dummy application value</value>
      </setting>
    </SampleProject.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="rolling_date_appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\logs\sample_project.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="'_'yyyy-MM-dd'.log'"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="fsm_rolling_date_appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\logs\sample_project_fsm.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="'_'yyyy-MM-dd'.log'"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <!--
      Loggers can be neatly defined as a static property of your class as follows...
      
        private static readonly log4net.ILog log 
          = log4net.LogManager.GetLogger(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType);
      
      This log property references a logger object that is identified, to the log4net framework,
      by the fully qualified name of your class.

      Now...
      If no loggers are defined in the log4net configuration file (here) then each logger
      inherits the <root> definition and its appender.
      
      If a logger is defined here and its name matches a fully qualified class name of your project
      then all log messages that come directly from that class will be handled as per the logger definition.
    -->
    <!--
      The logger below has no appender and so log messages coming from the class
      Karzina.Common.FiniteStateMachine are sent to the <root> appender.
      
      Except... that nothing is sent to the <root> appender if additivity is false.
      
      This is a way to turn off/on the logging for a particular class
      by changing only this configuration file.
      
    -->
    <logger name="Karzina.Common.FiniteStateMachine" additivity="false">
      <level value="DEBUG" />
    </logger>
    <!--
      The logger below does have its own appender and so log messages coming from the class
      Karzina.Common.FiniteStateMachineEngine are sent to it, rather than the <root> appender.
      
      Except... that nothing is sent to this loggers appender if the value of level is "OFF"
      Note also that the value of additivity has no effect when an appender is defined.
      
      This is another way to turn off/on the logging for a particular class
      without changing the code itself.
      
    -->
    <logger name="Karzina.Common.FiniteStateMachineEngine" additivity="true">
      <level value="OFF" />
      <appender-ref ref="fsm_rolling_date_appender"/>
    </logger>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="rolling_date_appender"/>
    </root>
  </log4net>
</configuration>